#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: min-content;
  background: var(--color2);
  padding: 2.4rem 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience__content:hover  {
  background-color: rgba(255, 255, 255, 0.031);
  backdrop-filter: blur(5px);
  border-color: var(--color4);
  cursor: default;
}

.experience__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience__details > img {
  width: 60px;
}
.experience__details > h4 {
  margin: 0;
  padding: 0;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color3);
}

@media screen and (min-width: 1024px){
  .experience__content  {
    grid-template-columns: repeat(6, 1fr);
  }
}

